$mainColor: #9c7862;

html,
body {
    height: 100vh;
}

body {
    font-family: "Rubik", sans-serif;
    background: $mainColor;
}

.container {
    height: 100%;
    margin: 1% 5% 2% 5%;
}

main {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.product-sheet {
    height: 600px;
    text-align: justify;
    line-height: 1.7;
    margin: auto;
    padding: 8%;
    background-color: white;
    border-radius: 21px;
    box-shadow: 0px 10px 13px -7px #000000, 4px 0px 13px 6px rgba(0, 0, 0, 0.27);

    .discover-title {
        color: #785e2f;
        font-size: 1.9em;
        text-align: center;
    }

    p {
        font-size: 1.9em;
        color: black;
    }

    span {
        color: green;
        margin-left: 2%;
    }

}

@media screen and (max-width: 576px) {
    .product-sheet {
        text-align: center;
    }

}